<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${basedir}/logs"/>

  <targets>
    <target xsi:type="File" name="info"
            fileName="${logDirectory}/info/${shortdate}.log"
            layout="${longdate} ${message}" />

    <target xsi:type="File" name="error"
            fileName="${logDirectory}/error/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${processname}${newline}${message}${newline}${stacktrace}" />

  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="info" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>
